/* table content
1.reset css
2.module
3.config
4.main style
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.social li {
  margin-right: 1.3rem;
  display: inline-block; }
  .social li i {
    color: #969696; }

.title a {
  color: #232323; }
  .title a:hover {
    color: #0962c6; }

.page-1 .main .sliders .slick-slide, .page-2 .sliders .slick-slide {
  position: relative; }
  .page-1 .main .sliders .slick-slide .content-center, .page-2 .sliders .slick-slide .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; }

.page-1 .nav, .page-2 .nav {
  border-bottom: 1px solid #d5d5d5; }
  .page-1 .nav li a, .page-2 .nav li a {
    font-size: 1.4rem;
    color: #232323; }
    .page-1 .nav li a.active, .page-2 .nav li a.active {
      border-bottom: 2px solid #0962c6; }

.page-1 .nav-link, .page-2 .nav-link {
  padding: .5rem 2rem 2rem; }

.page-1 .main .content .thumb, .page-2 .main .most-views__content li .thumb {
  font-size: 1.8rem;
  font-weight: 500; }

.page-1 footer .copyright p, .page-2 .footer .copyright p {
  margin-bottom: 0;
  padding: 3rem 0;
  border-top: 1px solid #d5d5d5;
  font-size: 1.3rem;
  color: #232323; }

.deco {
  position: relative; }
  .deco:before {
    position: absolute;
    content: "";
    width: 48px;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/deco.png); }

.info-view {
  font-size: 1.2rem;
  color: #959595; }

.info-view__time {
  padding-right: 0.8rem; }

.info-view__comment {
  padding-left: 0.8rem;
  border-left: 1px solid #ccc; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem !important;
  font-family: "Rubik", sans-serif;
  color: #232323;
  background-color: #fff; }

a {
  transition: all .3s;
  color: #232323;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none !important; }

input[type=text] {
  border: none;
  width: 90px;
  background: url(../images/search.png) no-repeat;
  background-position: right center;
  transition: width 0.4s ease-in-out; }

input[type=text]:focus {
  width: 100%;
  border: 1px solid #ccc; }

.page-1 .header {
  padding-top: 15px; }

.page-1 .logo {
  margin: 5.5rem 0 4rem; }

.page-1 .main .content {
  margin: 5rem 0 7rem; }
  .page-1 .main .content .description {
    padding-bottom: 2rem;
    font-size: 1.3rem;
    color: #6a6a6a; }
  .page-1 .main .content .view-more {
    padding-top: 3rem;
    border-top: 1px solid #d5d5d5; }
    .page-1 .main .content .view-more li .col-8 {
      margin-left: -15px; }
  .page-1 .main .content .banner {
    margin: 3rem 0 1rem; }
  .page-1 .main .content .nav-tabs {
    display: table;
    border-bottom: none; }
    .page-1 .main .content .nav-tabs .nav-item {
      display: table-cell; }
    .page-1 .main .content .nav-tabs .nav-link {
      border: 1px solid #ccc;
      border-radius: 0;
      padding: .5rem 2rem 1rem;
      display: table-cell;
      font-weight: 500; }
      .page-1 .main .content .nav-tabs .nav-link.active {
        color: #007bff;
        border-bottom: 2px solid #007bff; }

.page-1 .main .sliders {
  margin: 1rem 0 2rem; }
  .page-1 .main .sliders .content {
    margin: 1rem 0 3rem; }
  .page-1 .main .sliders .content-center {
    padding: 5rem 6rem;
    color: #232323;
    text-align: center; }
    .page-1 .main .sliders .content-center__header {
      padding-bottom: 2rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase; }
    .page-1 .main .sliders .content-center__title {
      font-size: 3rem; }

.page-1 .main .most-views h2 {
  padding-bottom: 3rem;
  font-size: 2.4rem; }

.page-1 .main .most-views ul {
  padding-top: 3rem; }

.page-1 .main .most-views .info-category {
  font-size: 1.2rem;
  font-weight: bold; }

.page-1 .main .most-views .title {
  padding: 0 1.5rem;
  font-size: 1.8rem; }

.page-1 .main .feature-post,
.page-1 .main .latest-post {
  padding-bottom: 2rem; }
  .page-1 .main .feature-post li a,
  .page-1 .main .latest-post li a {
    font-size: 1.8rem;
    color: #6a6a6a; }
  .page-1 .main .feature-post .nav,
  .page-1 .main .latest-post .nav {
    border-bottom: none; }
    .page-1 .main .feature-post .nav li + li,
    .page-1 .main .latest-post .nav li + li {
      position: relative; }
      .page-1 .main .feature-post .nav li + li .nav-link:before,
      .page-1 .main .latest-post .nav li + li .nav-link:before {
        position: absolute;
        content: "";
        width: 2px;
        height: 20px;
        background: #6a6a6a;
        left: 0;
        top: 3px;
        transform: skew(-30deg); }
  .page-1 .main .feature-post .nav-link,
  .page-1 .main .latest-post .nav-link {
    padding: 0 2rem; }
  .page-1 .main .feature-post h2,
  .page-1 .main .latest-post h2 {
    padding-bottom: 2rem; }
    .page-1 .main .feature-post h2:before,
    .page-1 .main .latest-post h2:before {
      left: 3.7rem; }

.page-1 .main .latest-post {
  margin-top: 5rem; }

.page-1 .main .load-more {
  margin-top: 3rem; }
  .page-1 .main .load-more .button {
    padding: 1rem 8rem;
    border: 2px solid #0962c6;
    font-weight: bold;
    font-size: 1.4rem; }

.page-1 .main .insta {
  margin: 4rem 0; }

.page-1 .main .sidebar .about-me {
  padding-top: 3rem;
  border-top: 1px solid #d5d5d5; }
  .page-1 .main .sidebar .about-me h2 {
    padding-bottom: 2rem; }
  .page-1 .main .sidebar .about-me .avatar {
    margin: 4rem 0 3rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #d5d5d5; }

.page-1 .main .sidebar .social-count {
  margin: 3rem 0; }
  .page-1 .main .sidebar .social-count ul {
    margin: 0;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5; }
  .page-1 .main .sidebar .social-count li {
    padding: 1rem 0;
    border-top: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5; }
    .page-1 .main .sidebar .social-count li a {
      font-size: 1.4rem;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      color: #6a6a6a;
      transition: color 2s; }
      .page-1 .main .sidebar .social-count li a:hover {
        color: #0962c6; }
    .page-1 .main .sidebar .social-count li span {
      display: block; }
      .page-1 .main .sidebar .social-count li span:first-child {
        min-height: 32px;
        margin-bottom: 1rem; }

.page-1 .main .tab-content {
  margin-top: 2rem; }

.page-1 footer .footer-top {
  padding-bottom: 2rem; }

.page-1 footer .about-us .form-inline {
  display: table;
  width: 100%; }
  .page-1 footer .about-us .form-inline .form-group,
  .page-1 footer .about-us .form-inline button {
    display: table-cell;
    width: 100%; }
  .page-1 footer .about-us .form-inline button {
    padding: .775rem 1.75rem;
    border-radius: 0;
    font-size: 1.2rem;
    background-color: #0962c6; }
  .page-1 footer .about-us .form-inline .form-control {
    width: 100%;
    padding: 1.67rem 1.4rem;
    border-radius: 0;
    font-size: 1.4rem;
    font-style: italic;
    color: #959595; }

.page-1 footer h2 {
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .page-1 footer h2:before {
    left: 2.4rem; }

.page-1 footer .quick-link li {
  margin-bottom: 2rem;
  list-style-type: disc;
  color: #959595; }
  .page-1 footer .quick-link li a {
    font-size: 1.3rem;
    color: #959595; }

.page-1 footer .tags li {
  display: inline-block;
  margin: 0 1.2rem 1.2rem 0; }
  .page-1 footer .tags li a {
    font-size: 1.3rem;
    color: #959595; }
    .page-1 footer .tags li a:hover {
      color: #0962c6;
      text-decoration: none; }

.page-2 .header {
  padding-top: 4rem; }
  .page-2 .header .logo {
    margin-bottom: 4rem; }

.page-2 .nav {
  border-bottom: none; }
  .page-2 .nav li a.active {
    color: #0962c6;
    border-bottom: none; }

.page-2 .sliders {
  margin: 0 0 1rem; }
  .page-2 .sliders .content-center {
    min-width: 275px;
    padding: 1rem;
    text-align: center; }
    .page-2 .sliders .content-center__header {
      text-transform: uppercase;
      font-size: 1.4rem; }
    .page-2 .sliders .content-center__title {
      color: #232323;
      font-size: 2rem; }

.page-2 .main-visual {
  position: relative;
  max-width: 1170px;
  min-height: 600px;
  margin-top: 9rem;
  background: #ccc; }
  .page-2 .main-visual .content-center {
    padding: 9rem 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff; }
    .page-2 .main-visual .content-center__header {
      padding-bottom: 2rem;
      text-transform: uppercase; }
    .page-2 .main-visual .content-center__title {
      font-size: 3rem; }

.page-2 .main .most-views {
  margin-top: 9rem; }
  .page-2 .main .most-views h2 {
    padding-bottom: 2rem; }
  .page-2 .main .most-views .nav-control {
    padding-top: 1rem;
    border-bottom: 1px solid #d5d5d5; }
  .page-2 .main .most-views__content {
    padding: 5rem 0 0;
    border-bottom: 1px solid #d5d5d5; }
    .page-2 .main .most-views__content li {
      margin-bottom: 4rem;
      text-align: center; }
      .page-2 .main .most-views__content li .description {
        font-size: 1.3rem;
        color: #6a6a6a; }
  .page-2 .main .most-views__time {
    margin-top: 2rem; }
    .page-2 .main .most-views__time a {
      padding: 1rem;
      border: 1px solid #d5d5d5;
      color: #232323; }

.page-2 .footer {
  padding: 4rem 0 0;
  background: #252525; }
  .page-2 .footer .logo {
    margin: 3rem 0; }
  .page-2 .footer .nav {
    margin: 2rem 0; }
    .page-2 .footer .nav li a {
      color: #959595; }
      .page-2 .footer .nav li a:hover {
        color: #fff; }
  .page-2 .footer .social {
    margin: 3rem 0 6rem; }
    .page-2 .footer .social i:hover {
      color: #fff; }
  .page-2 .footer .copyright p {
    border-top: 1px solid #6a6a6a;
    color: #959595; }

.page-2 .instagram-list {
  margin: 6rem 0; }

#instafeed {
  display: table;
  position: relative;
  animation: moveSlideshow 40s linear infinite; }
  #instafeed > span {
    display: table-cell; }

.instagram-list {
  position: relative;
  margin-bottom: 6rem; }
  .instagram-list .insta-link {
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1rem 1.5rem;
    box-shadow: 0px 2px 6px #00000094; }
    .instagram-list .insta-link img {
      width: 20px; }
    .instagram-list .insta-link span {
      display: table-cell;
      vertical-align: middle;
      padding-right: .5rem; }

@keyframes moveSlideshow {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-66.6666%); } }

.page-1 .slider {
  width: 90%;
  margin: 0 auto 0; }

.page-1 .slick-slide img {
  width: 100%;
  height: auto; }

.page-1 .mypattern {
  width: 100%; }

.page-1 .mypattern .slick-slide {
  margin: 60px; }

.page-1 .mypattern .slick-slide:not(.slick-center) {
  opacity: 0.3; }
