include modules/mixin/mixin.pug
doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport",content="width=device-width, initial-scale=1")
      meta(name="description",content="")
      meta(name="author",content="")
      link(rel="icon",href="../../favicon.ico")
      title Kass home page template
      block styles
        link(rel="stylesheet",href="css/style.css")
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Rubik")
        link(rel="stylesheet",href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
  body.page-1
    block body
      .container
        .header
          .header-top
            .row
              .col-6.text-center
                ul.social.float-md-left
                  li <i class="fab fa-facebook-f"></i>
                  li <i class="fab fa-twitter"></i>
                  li <i class="fab fa-google-plus-g"></i>
              .col-6.text-center
                .search.float-md-right
                  input(type='text', placeholder='Search')
          .logo
            h1.text-center
              img(src="images/logo.png", alt="") 
      ul.nav.justify-content-center
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#')#navbardrop HOME
          .dropdown-menu
            a.dropdown-item(href="#") HOME1
            a.dropdown-item(href="#") HOME2
        li.nav-item
          a.nav-link(href='#') ABOUT ME
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle.active(data-toggle='dropdown' href='#')#navbardrop CATEGORY
          .dropdown-menu
            a.dropdown-item(href="#") LIFESTYLE
            a.dropdown-item(href="#") FASHION
        li.nav-item
          a.nav-link(href='#') POSTTYPE
        li.nav-item
          a.nav-link(href='#') TYPOGRAPHY
        li.nav-item
          a.nav-link(href='#') SHOP
        li.nav-item
          a.nav-link(href='#') CONTACT
      .main 
        .sliders
          include modules/slider/slider-1.pug
        .container
          .most-views
            h2.text-center.deco MOST VIEWS
            ul.row
              li.col
                p
                  img(src="http://via.placeholder.com/470x390", alt="Last Minute Festive Packages From Superbreak")
                .info.row
                  p.info-category.col-6
                    a(href="#") TRAVEL
                  +info-view2
                  p.title
                    a(href="#") Last Minute Festive Packages From Superbreak
              li.col
                p
                  img(src="http://via.placeholder.com/470x390", alt="Last Minute Festive Packages From Superbreak")
                .info.row
                  p.info-category.col-6
                    a(href="#") LIFE STYLE
                  +info-view2
                  p.title
                    a(href="#") Having Your Breasts Reduced With Breast Augmentation
              li.col
                p
                  img(src="http://via.placeholder.com/470x390", alt="Last Minute Festive Packages From Superbreak")
                .info.row
                  p.info-category.col-6
                    a(href="#") PHOTOGRPHY
                  +info-view2
                  p.title 
                    a(href="#") For Women Only Your Computer Usage Could Cost 
              li.col
                p
                  img(src="http://via.placeholder.com/470x390", alt="Last Minute Festive Packages From Superbreak")
                .info.row
                  p.info-category.col-6
                    a(href="#") FOOD
                  +info-view2
                  p.title
                    a(href="#") Top 3 Reasons Why You Need Cookie Recipes
          .content
            .row
              .col-8
                .feature-post.row
                  h2.col-3.float-left.deco FEATURE POST
                  .nav-control.col-9.float-right
                     ul.nav.justify-content-end
                        li.nav-item
                          a.nav-link(href='#') TRAVEL
                        li
                          a.nav-link(href='#') FOOD
                        li
                          a.nav-link(href='#') LIFESTYLE
                        li
                          a.nav-link(href='#') PHOTOGRAPHY
                .row
                  .col-6
                    p.feature-post__top
                      img(src="http://via.placeholder.com/370x250", alt="")
                    +info-view
                    p.title.thumb 
                      a(href="#") Coventry City Guide Including Coventry Hotels Summer
                    p.description You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property.
                    ul.view-more
                      li.row
                        .col-4
                          p.view-more__img
                            img(src="http://via.placeholder.com/100x70", alt="It S Hurricane Season But We Are Visiting Hilton Head Island")
                        .col-8
                          .view-more__title
                            +info-view
                            p.title
                              a(href="#") It S Hurricane Season But We Are Visiting Hilton Head Island
                      li.row
                        .col-4
                          p.view-more__img
                            img(src="http://via.placeholder.com/100x70", alt="It S Hurricane Season But We Are Visiting Hilton Head Island")
                        .col-8
                          .view-more__title
                            +info-view
                            p.title 
                              a(href="#") It S Hurricane Season But We Are Visiting Hilton Head Island
                  .col-6
                    p.feature-post__top
                      img(src="http://via.placeholder.com/370x250", alt="")
                    +info-view
                    p.title.thumb 
                      a(href="#") Coventry City Guide Including Coventry Hotels Summer
                    p.description You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property.
                    ul.view-more
                      li.row
                        .col-4
                          p.view-more__img
                            img(src="http://via.placeholder.com/100x70", alt="It S Hurricane Season But We Are Visiting Hilton Head Island")
                        .col-8
                          .view-more__title
                            +info-view
                            p.title 
                              a(href="#") It S Hurricane Season But We Are Visiting Hilton Head Island
                      li.row
                        .col-4
                          p.view-more__img
                            img(src="http://via.placeholder.com/100x70", alt="It S Hurricane Season But We Are Visiting Hilton Head Island")
                        .col-8
                          .view-more__title
                            +info-view
                            p.title 
                              a(href="#") It S Hurricane Season But We Are Visiting Hilton Head Island
                p.banner
                  img(src="images/bnr.jpg", alt="kass template")
                .latest-post.row
                  h2.col-3.float-left.deco LATEST POST 
                  .nav-control.col-9.float-right
                     ul.nav.justify-content-end
                        li.nav-item
                          a.nav-link(href='#') TRAVEL
                        li
                          a.nav-link(href='#') FOOD
                        li
                          a.nav-link(href='#') LIFESTYLE
                        li
                          a.nav-link(href='#') PHOTOGRAPHY
                ul.latest-post__list
                  li.row
                    .col-4
                      p
                        img(src="http://via.placeholder.com/270x180", alt="")
                    .col-8
                      .content-list
                        +info-view
                        p.title.thumb 
                          a(href="#") Coventry City Guide Including Coventry Hotels Summer
                        p.description You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property.
                        a.read-more(href="#")
                  li.row
                    .col-4
                      p
                        img(src="http://via.placeholder.com/270x180", alt="")
                    .col-8
                      .content-list
                        +info-view
                        p.title.thumb 
                          a(href="#") Coventry City Guide Including Coventry Hotels Summer
                        p.description You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property.
                        a.read-more(href="#")
                  li.row
                    .col-4
                      p
                        img(src="http://via.placeholder.com/270x180", alt="")
                    .col-8
                      .content-list
                        +info-view
                        p.title.thumb 
                          a(href="#") Coventry City Guide Including Coventry Hotels Summer
                        p.description You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property.
                        a.read-more(href="#")
                .row
                  .col-12
                    p.load-more.text-center
                      a.button(href="#") LOAD MORE
              .col-4
                include modules/sidebar/sidebar.pug
                ul.nav.nav-tabs
                  li.nav-item
                    a.nav-link.active(data-toggle='tab' href='#popular' role='tab') POPULAR
                  li.nav-item
                    a.nav-link(data-toggle='tab' href='#recent' role='tab') RECENT
                  li.nav-item
                    a.nav-link(data-toggle='tab' href='#top-reviews' role='tab') TOP REVIEWS
                .tab-content
                  #popular.tab-pane.active
                    ul.tab-content__list
                      +tab-content__list
                      +tab-content__list
                      +tab-content__list
                      +tab-content__list
                  #recent.tab-pane.fade
                    ul.tab-content__list
                      +tab-content__list
                      +tab-content__list
                      +tab-content__list
                  #top-reviews.tab-pane.fade
                    ul.tab-content__list
                      +tab-content__list
                      +tab-content__list
                      +tab-content__list
                      +tab-content__list
        .instagram-list
          .insta#instafeed 
          .insta-link
            span 
              img(src="images/instagram.png", alt="")
            span
              a(href="#") @kasstheme
    footer
      .container
        include modules/footer/footer.pug
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
      script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
      script(src="js/instafeed.min.js")
      script(src="js/index.js")
