.row
	.col-3
		.about-us
			h2 ABOUT US
			p The term “boutique hotel” has been widely used in recent years, but what does it mean and why should you stay in one?
			form.form-inline
				.form-group
					label.sr-only(for='insubcribe') Email
					input#insubcribe.form-control(type='email' placeholder='Email')
				button.btn.btn-primary(type='submit') Subcribe

	.col-4
		.about-us
			h2 RECENT POST
			ul.recent-post
				li.row
					.col-4
						p
							img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
					.col-8
						p.info-view
							span.info-view__time <i class="far fa-clock"></i> 16 Aug
							span.info-view__comment <i class="fas fa-comments"></i> 2
						p.title Coventry City Guide Including Coventry Hotels Summer

				li.row
					.col-4
						p
							img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
					.col-8
						p.info-view
							span.info-view__time <i class="far fa-clock"></i> 16 Aug
							span.info-view__comment <i class="fas fa-comments"></i> 2
						p.title Coventry City Guide Including Coventry Hotels Summer
	.col-2
		.about-us
			h2 QUICK LINK
			ul.quick-link
				li 
					a(href="#") CATEGORY LIFESTYLE
				li 
					a(href="#") RECENT POST
				li  
					a(href="#") NEW POST
				li 
					a(href="#") RECOMMENDED
				li 
					a(href="#") SHOP ONLINE
	.col-3
		.about-us
			h2 TAGS
			ul.tags
				li 
					a(href="#") Kass
				li 
					a(href="#") Blog
				li 
					a(href="#") Magazine
				li 
					a(href="#") Travel
				li 
					a(href="#") Lifestyle
				li 
					a(href="#") psd
				li  
					a(href="#") template
				li 
					a(href="#") technology