.row
  .col-12
    .logo.text-center
      h1
        img(src="images/footer-logo.png", alt="Kass")
ul.nav.justify-content-center
  li.nav-item
    a.nav-link(href='#') VIDEO
  li.nav-item
    a.nav-link(href='#') STAR
  li.nav-item
    a.nav-link(href='#') LIFESTYLE
  li.nav-item
    a.nav-link(href='#') YOUNG LIFE
  li.nav-item
    a.nav-link(href='#') MLOG
  li.nav-item
    a.nav-link(href='#') FASHION
ul.social.text-center
  li
    a(href="#") <i class="fab fa-facebook-f"></i>
  li 
    a(href="#") <i class="fab fa-twitter"></i>
  li
    a(href="#") <i class="fab fa-google-plus-g"></i>
.copyright
  .row
    .col-12
      p.text-center &copy; Copyright 2016.Template by No.13