.row.footer-top
  .col-3
    .about-us
      h2.deco ABOUT US
      p The term “boutique hotel” has been widely used in recent years, but what does it mean and why should you stay in one?
      form.form-inline
        .form-group
          label.sr-only(for='insubcribe') Email
          input#insubcribe.form-control(type='email' placeholder='Email')
        button.btn.btn-primary(type='submit') Subcribe

  .col-4
    .about-us
      h2.deco RECENT POST
      ul.recent-post
        li.row
          .col-4
            p
              img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
          .col-8
            +info-view
            p.title
              a(href="#") Coventry City Guide Including Coventry Hotels Summer
        li.row
                  .col-4
                      p
                          img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
                  .col-8
                      +info-view
                      p.title
                        a(href="#") Coventry City Guide Including Coventry Hotels Summer
  .col-2
    .about-us
      h2.deco QUICK LINK
      ul.quick-link
        li 
          a(href="#") CATEGORY LIFESTYLE
        li 
          a(href="#") RECENT POST
        li  
          a(href="#") NEW POST
        li 
          a(href="#") RECOMMENDED
        li 
          a(href="#") SHOP ONLINE
  .col-3
    .about-us
      h2.deco TAGS
      ul.tags
        li 
          a(href="#") Kass
        li 
          a(href="#") Blog
        li 
          a(href="#") Magazine
        li 
          a(href="#") Travel
        li 
          a(href="#") Lifestyle
        li 
          a(href="#") psd
        li  
          a(href="#") template
        li 
          a(href="#") technology
.copyright
  .row
    .col-12
      p.text-center &copy; Copyright 2016.Template by No.13