// ======================================================
// Vendors :: variable
// ======================================================
$color-1: #fff; //white
$color-2: #232323; //black
$color-3: #d5d5d5; //gray1
$color-4: #959595; //gray2
$color-5: #0962c6; //blue
$color-6: #252525; //blue
$primary-font: 'Rubik', sans-serif;
$f12: 1.2rem;
$f13: 1.3rem;
$f14: 1.4rem;
$f15: 1.5rem;
$f16: 1.6rem;
$f17: 1.7rem;
$f18: 1.8rem;
$f19: 1.9rem;
$f20: 2rem;
$f21: 2.1rem;
$f22: 2.2rem;
