block sidebar
  .sidebar
    .about-me.text-center
      h2.deco ABOUT ME
      p.avatar
        img(src="http://via.placeholder.com/310x310", alt="avatar")
      h3 I Am Blogger
      p What if a storm hits Hilton Head Island before you get ready to
    .social-count
      ul.lst.row
        li.col-3
          a(href="#")
            span
              img(src="images/instagram.png", alt="")
            span 12.345
        li.col-3
          a(href="#")
            span
              img(src="images/vimeo.png", alt="")
            span 23.456
        li.col-3
          a(href="#")
            span
              img(src="images/twitter.png", alt="")
            span 45.678
        li.col-3
          a(href="#")
            span
              img(src="images/tumblr.png", alt="")
            span 6.789
        li.col-3
          a(href="#")
            span
              img(src="images/pinterest.png", alt="")
            span 54.321
        li.col-3
          a(href="#")
            span
              img(src="images/facebook.png", alt="")
            span 6.420
        li.col-3
          a(href="#")
            span
              img(src="images/google-plus.png", alt="")
            span 87.654
        li.col-3
          a(href="#")
            span
              img(src="images/dribbble.png", alt="")
            span 9.870
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab' href='#popular' role='tab') POPULAR
      li.nav-item
        a.nav-link(data-toggle='tab' href='#recent' role='tab') RECENT
      li.nav-item
        a.nav-link(data-toggle='tab' href='#top-reviews' role='tab') TOP REVIEWS
    .tab-content
      #popular.tab-pane.active
        ul.tab-content__list
          li.row
            .col-4
              p
                img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
            .col-8
              +info-view
              p.title
                a(href="#") Family Safari Vacation To The Home Of The Gods
          li.row
            .col-4
              p
                img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
            .col-8
              +info-view
              p.title
                a(href="#") Family Safari Vacation To The Home Of The Gods
      #recent.tab-pane.fade
        ul.tab-content__list
          li.row
            .col-4
              p
                img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
            .col-8
              +info-view
              p.title
                a(href="#") Family Safari Vacation To The Home Of The Gods
          li.row
            .col-4
              p
                img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
            .col-8
              +info-view
              p.title
                a(href="#") Family Safari Vacation To The Home Of The Gods
          li.row
            .col-4
              p
                img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
            .col-8
              +info-view
              p.title
                a(href="#") Family Safari Vacation To The Home Of The Gods
      #top-reviews.tab-pane.fade
        ul.tab-content__list
                          li.row
                            .col-4
                              p
                                img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
                            .col-8
                              +info-view
                              p.title
                                a(href="#") Family Safari Vacation To The Home Of The Gods
                          li.row
                            .col-4
                              p
                                img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
                            .col-8
                              +info-view
                              p.title
                                a(href="#") Family Safari Vacation To The Home Of The Go
