.sidebar
  .about-me.text-center
    h2.deco ABOUT ME
    p.avatar
      img(src="http://via.placeholder.com/310x310", alt="avatar")
    h3 I Am Blogger
    p What if a storm hits Hilton Head Island before you get ready to
  .social-count
    ul.lst.row
      li.col-3
        a(href="#")
          span
            img(src="images/instagram.png", alt="")
          span 12.345
      li.col-3
        a(href="#")
          span
            img(src="images/vimeo.png", alt="")
          span 23.456
      li.col-3
        a(href="#")
          span
            img(src="images/twitter.png", alt="")
          span 45.678
      li.col-3
        a(href="#")
          span
            img(src="images/tumblr.png", alt="")
          span 6.789
      li.col-3
        a(href="#")
          span
            img(src="images/pinterest.png", alt="")
          span 54.321
      li.col-3
        a(href="#")
          span
            img(src="images/facebook.png", alt="")
          span 6.420
      li.col-3
        a(href="#")
          span
            img(src="images/google-plus.png", alt="")
          span 87.654
      li.col-3
        a(href="#")
          span
            img(src="images/dribbble.png", alt="")
          span 9.870
