mixin tab-content__list
    li.row
      .col-4
        p
          img(src="http://via.placeholder.com/100x70", alt="Family Safari Vacation To The Home Of The Gods")
      .col-8
        +info-view
        p.title
          a(href="#") Family Safari Vacation To The Home Of The Gods

mixin info-view
    p.info-view
        span.info-view__time <i class="far fa-clock"></i> 16 Aug
        span.info-view__comment <i class="fas fa-comments"></i> 2

mixin list-content
    li.col-4
        p.thumb
            img(src="http://via.placeholder.com/370x270", alt="")
        +info-view
        p.title.thumb
          a(href="#") How To Fly A Private Jet On Your Next Trip
        p.description You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property.

mixin info-view2
  p.info-view.col-6
    span.info-view__time <i class="far fa-clock"></i> 16 Aug
    span.info-view__comment <i class="fas fa-comments"></i> 2


mixin content-center
  a(href='#')
    .content-center
      p.content-center__header life style
      p.content-center__title Choose The Perfect Accommodations