block content
  .content
    .slider.mypattern
      div.js-anchor-expanded
        img(src='http://via.placeholder.com/490x750')
        a(href='#')
          .content-center
            p.content-center__header.deco
              a(href="#") life style
            p.content-center__title Will The Democrats Be Able To Reverse The Online Gambling Ban
      div.js-anchor-expanded
        img(src='http://via.placeholder.com/490x750')
        a(href='#')
          .content-center
            p.content-center__header.deco
              a(href="#") travel
            p.content-center__title Will The Democrats Be Able To Reverse The Online Gambling Ban
      div.js-anchor-expanded
        img(src='http://via.placeholder.com/490x750')
        a(href='#')
          .content-center
            p.content-center__header.deco
              a(href="#") life style
            p.content-center__title Will The Democrats Be Able To Reverse The Online Gambling Ban
      div.js-anchor-expanded
        img(src='http://via.placeholder.com/490x750')
        a(href='#')
          .content-center
            p.content-center__header.deco
              a(href="#") food
            p.content-center__title Will The Democrats Be Able To Reverse The Online Gambling Ban
      div.js-anchor-expanded
        img(src='http://via.placeholder.com/490x750')
        a(href='#')
          .content-center
            p.content-center__header.deco
              a(href="#") fashion
            p.content-center__title Will The Democrats Be Able To Reverse The Online Gambling Ban
