block content
  .content
    .slider.mypattern
      div
        img(src='http://via.placeholder.com/970x630')
        a(href='#')
          .content-center
            p.content-center__header life style
            p.content-center__title Choose The Perfect Accommodations
      div
        img(src='http://via.placeholder.com/970x630')
        a(href='#')
          .content-center
            p.content-center__header life style
            p.content-center__title Choose The Perfect Accommodations
      div
        img(src='http://via.placeholder.com/970x630')
        a(href='#')
          .content-center
            p.content-center__header life style
            p.content-center__title Choose The Perfect Accommodations
      div
        img(src='http://via.placeholder.com/970x630')
        a(href='#')
          .content-center
            p.content-center__header life style
            p.content-center__title Choose The Perfect Accommodations
